@use "./variables.scss" as *;

// put your custom CSS here!

// 1. Light mode (default)
.page-title a {
    color: #000000;

    &:hover {
        color: #000000; // Keeps it black even when hovered
    }
}

// 2. Dark mode
[saved-theme="dark"] .page-title a {
    color: #ffffff;

    &:hover {
        color: #ffffff; // Keeps it white even when hovered
    }
}